.navbar .collapse .nav-item{
  margin-left: 30px;
  color:#000;
}
.navbar .collapse .nav-item:hover{
  background-color:#FFF;
  color:#000;
}
.navbar{
  background-color:rgb(73, 73, 194);
}
.bg-light{
	background-color: #e7e7e7 !important;
    padding: 20px 0;
	height: 72px;
	
    transition: all 0.8s;
  
}

.login img{
	width: 40px;
	 height: 40px; 
	 border: 1px solid #000;
	 border-radius: 50%;"
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1);
}
.collapse .sub-menu{
	width: 600px;
	display:none;
	height:200px;
	position: absolute;
	background:#DDD;

	margin-top: 123px;
	z-index: 99;
	opacity: .9;
	padding: 10px 10px;
}
 .collapse .fa-angle-down{
	position: absolute;
    top: 33px;
    left: 196px;
 }
.collapse .sub-menu ul{
	list-style: none;
}
.collapse .sub-menu ul li{
	text-align: center;
	float: left;
	width: 30%;
	margin-bottom: 12px;
}
.collapse .sub-menu ul li:hover{
	background-color: #FFF;
	
}

.container{
  margin-top: 40px;
}
.pagename{

  color:black;
	margin-bottom: 43px;
}
.price{
color:#28a745;
background-color:#EEE;
position:absolute;
margin-left:0px;
border: .5px solid #000;
border-radius:5px;
margin-top: 5px;
padding-right:5px;
padding-left: 5px;
}

.waiting{

  color:red;
background-color:#EEE;
position:absolute;
left: 133px;
border: 1px solid #000;
border-radius:5px;
margin-top: 5px;
padding-right:5px;
padding-left: 5px;
}
.form{
 width: 320px;
	height: 400px;
    margin: 100px auto;
	border: 1px solid #000;
	border-radius: 10px;
	box-shadow: 10px 10px #8765;
	background-color: #EEE;
	padding: 20px 0 0 0 ;
	/*background-image: url('../../beachh.jpg');*/
	
}
.form:hover{
	background-color: #CCC;
}
.form input{
	width: 300px;
  margin-bottom: 15px;
	margin-left: 10px;
	margin-right: 10px;
	

}
.form input:first-child{
	margin-top: 30px;
}

.form i{
	opacity: .7;
	background:
}
.form .btn {
	text-align: center;
	 margin-top:20px;
}
.form-profile{
	width: 350px;
	margin: auto;
}

.form-member {
  width: 439px;
  margin: 100px auto;
}.form-member .btn{
  margin-top:20px;
margin-left: 220px;
padding-left: 20px;
padding-right: 30px;}
.form-member input{
  margin-bottom:10px;
	margin-left: 0px;
}
.form-member i{
  float: left;
	margin-right: 5px;
display: inline-block;
}
.form-member h5 {
		margin-right: 0px;
}
.main-table tr:first-child{

  background-color: #987;
  border:1px solid #000;
}
 .btn a{
  text-decoration: none;
  color: #fff ;
}

.dashboard .stat:hover{
  background-color:#0d7dec;
  color: #fff;
}
.form-member #vis-no{
  margin-left:px;

}
.table td:hover{
  background-color: #ccc;
}
.main-tabl{
  width: 900px;
  margin: auto;
  margin-top: 80px;
  overflow: hidden;
  background-color:#CCC;
}
.main-tabl .btn-primary{
  float:right;
  margin-right: -65px;
  margin-left:5px;
  transition: all .4s linear;

}
.main-tabl .btn-danger{
  float:right;
  margin-right: -85px;
  transition: all .4s linear;

}
.main-tabl td:hover .btn{

  margin-right: 0px;
}
.main-tabl tr:first-child{
  background-color:#0d7dec;
  font-size: 26px;
}
.main-tabl a{
  text-decoration: none;
  color:#fff;
}
.main-tabl td:hover{
  background-color: #fff;
  color: ;
}
.main-tabl td:first-child{
  
}
.main-tabl tr:first-child a{
  color:#000;
}
.main-tabl tr .d a{
  color: #dc5a9e;
}
.main-tabl tr .d .activ{
  color: #f00;
}
.main-tabl .button{
  margin-top: 450px;
  margin-left: 400px;
}

.panel {
  background-color:#FFF;
  padding: px;
	padding-right: px;
}
.panel .image{
	margin-bottom:50px;
	margin-top:-45px
}
.panel .panel-heading{
background-color:;
font-size: 28px;
margin-bottom: 25px;
	margin-left: 0px;
color:#a50c0c;
}
.panel ul li span{
  color:#000;
}
.titel{
  background-color:;
  color:#010010;
}
.button{
  margin-left:px;
}
.panel .img-responsiv{
  margin-top: px;
  margin-left: px;
}
.dropdown-item {
  color:blue;
transition:all .4s linear;}

  .dropdown-item:hover{
    background-color:#7c7cd6;
    color:#FFF;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .panel2{
    margin-top:-38px;
     background-color:;
  padding: 20px;
  }
 .img-item-profile{
    height: 100px;
    width: 100px;
    border:1px solid #0F0;
    border-radius:5%;
  }
  .img-item-profile:hover{
      
    height: 110px;
    width: 110px;
  }
  ul{
    margin-bottom: 33px;
  }
  .navbar .collapse .navbar-nav .profile{
  margin-top:10px;
  }
  .panel-primary img{
    margin-right: 100px;
	  margin-top: 50px;
  }
/*------------items.php------------*/
 .panel-body ul{
    margin-top:50px;
  }
.panel-body ul li:hover{
	background-color: #CCC;
}
.panel-body ul li {
  background:#DDD;
	padding:12px 20px;
	border-radius: 3px;
	width: 90%;
	margin-bottom: 20px;

}
.panel-body .in-cart{
	float: right;
		color:red;
} 
/*.panel-body ul li:nth-child(odd) {
  background: #EEE;
	padding:20px 10px 20px 10px;
	border-radius: 15px;
}*/
.panel-body .image-item{
	margin: -30px 20px 0px 20px;
	height: 300px;
	width: 300px;
	
}
  .panel-heading{
margin-left:px;
  }
.comment .textarea{
	height: 120px;
	width: 400px;
}
.textarea{
	height: 120px;
	width: 400px;
}
.comment form .btn-primary{
	display: block;
}
.comment .alert{
	margin-top: 10px;
}
.comment-content{
	margin-bottom: 70px;
	background:#DDD;


	padding: 20px 15px 20px 15px;
	border-radius: 10px;
}
.comment-content:hover{
	background-color: #CCC;
}
.comment-content .username{
	background-color: #FFF;
}
.comment-content:hover .angel{
	border-top: 10px solid #FFF;
border-right: 20px solid #CCC;
border-bottom: 10px solid #FFF;
}
.angel{font-size: 0px; line-height: 0%; width: 0px;
border-top: 10px solid #FFF;
border-right: 20px solid #DDD;
border-bottom: 10px solid #FFF;
margin: -39px 0 0 -33px;
position: absolute;
}
.comment-image{
	height: 30px;
	width: 30px;
	border-radius: 50px;
}

.comments .buttons{
	display: none;
}
.comments .icon:hover .buttons{display: block;
color:#F00;}
.comments .buttons .btn{
	margin-left: 5px;
}
/*.manage{
	margin-left: 80px;
}
.buttons{
	display: inline-flex;
}
.buttons a:last-child{
	margin-left: 5px;
}*/
.thumbnail .img-responsive{
	height: 250px;
	width: 250px;
}
.thumbnail{
height: 350px;
margin-bottom: 20px;
	overflow: hidden;

}
.thumbnail h3 ,.thumbnail span{
	padding-left: 20px;
}
.notice{
width: 300px;
}
.panel .img-responsive{
	width: 400px;
	margin-top: 150px;
}
.buy{
	width: 
	background-color: #EEE;
	margin-left: 20px;
	margin-top: -22px
	
}
.buy .btn{
	margin-bottom: 10px;
	color: #FFF;
}
.fa-cart-plus  {
	
	color:#3498db;
margin-top: 12px;
}
.fa-cart-plus span{
	color: #f00;
	font-size: 22px;
	position: absolute;
	margin:-16px 0 0 -22px ;
}
.panel-body .buy-images img{width: 70px;height: 40px;
border: 1px solid #EEE;}
.panel-body .buy-images span{font-size:19px;
margin-bottom: 10px;}
.panel-body .buy-images img:nth-child(even){margin: 50px 10px 0px -80px}
.orders-table img{
	height: 50px;
	width: 50px;
}
.orders-table{
	margin-top: 43px;
}
/*---------------pay.php-------------*/
.orders-table tr:first-child{
	background-color: #EEE;
}
.orders-table .btn-danger{
	margin-left: 6px;
}
.form-buy{
	width: 600px;
	margin:50px 0 0  25px;
	background-color: #E7e7e7;
	padding: 15px 0 10px 40px;
}
.form-buy h6{
	margin-bottom: 50px;
}
.item-view{
	margin:50px 0 0  25px;
	background-color: #E7e7e7;
	padding: 15px 0 10px 40px;
}
.item-view img{
	height: 150px;
	width: 150px;
}
.item-view .details{
	margin-bottom: 30px;
}
.edit-form{
	width: 320px;
	margin: 100px auto;
}
.edit-form .btn{
	margin-top: 33px;
	margin-left:120px;
}
/*-----------------categories.php all.php-------------*/
.cats:hover{
	background-color:#EEE;
}
.search-form{
	width: 620px;
	z-index: 9;
	position: absolute;
	margin:50px auto;
	padding :20px 33px;
	background-color: #EEE;
	border:1px solid #CCC;
	
	left: 30%;
}
.search-form .form-control{
	margin-bottom:px;
}
.search-form .btn{
	
	right: 0;
	margin : -33px 0px 0px 0px;
	float: right;
	
	
}
.search-result{
	text-align: center;
	width: 620px;
	z-index: 9;
	position: absolute;
	margin:130px auto;
	
	background-color:#eee;
	float: 50%;
	opacity: .6;
	left: 30%;
	border-top: .5px solid #CCC;
	


	
}
/*-________________________________colors section ________*/
.colors {
	position: relative;
	background-color: #EEE;
	border-bottom: 1px solid #CCC;
	
}
.colors ul li{
height: 25px;
width: 25px;
border-radius: 50%;
margin-left: 5px;
float:left;

}
.colors ul{
	list-style: none;
    top: 10px;
	position: absolute;
	margin-left: 20px;
}
.colors ul li:nth-of-type(1){
	background-color: #CCC;
}
.colors ul li:nth-of-type(2){
	background-color: #e74c3c;
}
.colors ul li:nth-of-type(3){
	background-color: #3498db;
}
.colors ul li:nth-of-type(4){
	background-color: #2ecc71;
}
.colors ul li:nth-of-type(5){
	background-color: #34495e;
}
.colors ul li:nth-of-type(6){
	background-color: #f1c40f;
}
.red .colors, .red .search-form{
	background-color: #e74c3c;
}
.default .colors, .default .search-form{
	background-color: #CCC;
}
.black .colors, .blue .search-form{
	background-color: #34495e;;
}
.yellow .colors,.yellow .search-form{
	background-color: #f1c40f;
}
.blue .colors, .blue .search-form{
	background-color: #3498db;
}
.green .colors,.green .search-form{
	background-color: #2ecc71;
}
.colors .login{
	position: absolute;
	top: -4px;
	right: 0;
}
.colors  .buttons{
	position: absolute;
	top: 5px;
	right: 0;}

	/*_________________Gallery ________*/
.gallery {
	height: 600px;

	position: relative;
	margin: auto;
}
.gallery img{
	position: absolute;
	opacity: 0;
	transition: all 2s ease-in-out;
	width: 100%;
	height: 100%;
}
.gallery img.active{
	opacity: 1;
}
.gallery .pagination {
	position: absolute;
	bottom: -22px;
	left: 42%;

	
	

}
.gallery .pagination ul{
	list-style: none;
}
.gallery .pagination ul li{
text-align: center;
opacity: .6;
color: #FFF;
cursor: pointer;
float: left;
background-color: #3498db;;
padding: 2px 10px;
margin-left: 5px;
}
.gallery .pagination ul li.active{
	opacity: 1;
}
.collapse .fa-angle-down{
	    left: 218px;
}

.card .card-header{
	margin-bottom: 20px;
}
 .popup{
 	width: 100%;
 	height: 100%;
 	background-color: #333;
 	opacity:.9 ;
 	position: fixed;
 	z-index: 21;
 	left: 0;
 	top: 0;
    display: none;

 }
 .popup .inner{
 	width: 400px;
 	height: 250px;
 	left:50%;
 	top: 50%;
 	margin-left: -200px;
 	margin-top: -125px;
 	background-color: #FFF;
 	position: fixed;
 	opacity: 1;
 
 	border-radius: 5%;
 	padding:20px;
 	z-index: 99
 }
 .popup .inner button{
 	position:absolute;
 	margin-top: 22px;
 	margin-bottom: 10px;
 	color:#FFF;
 	background-color:#3498db;
 	padding:3px 20px 3px 20px;
 }
 .spinner-border {
 	margin-left:140px;
 	font-size:24px;
 	line-height: 100px
 }